In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# 1) ------------------------------------------------------------

In [36]:
estudantes_20 = pd.read_csv('https://www.ime.usp.br/~noproest/dados/questionario.txt', sep=r'\s+', index_col='Id').iloc[0:20,1:5]
estudantes_20

   Sexo  Idade   Alt  Peso
Id
1     F     17  1.60  60.5
2     F     18  1.69  55.0
3     M     18  1.85  72.8
4     M     25  1.85  80.9
5     F     19  1.58  55.0
6     M     19  1.76  60.0
7     F     20  1.60  58.0
8     F     18  1.64  47.0
9     F     18  1.62  57.8
10    F     17  1.64  58.0
11    F     18  1.72  70.0
12    F     18  1.66  54.0
13    F     21  1.70  58.0
14    M     19  1.78  68.5
15    F     18  1.65  63.5
16    F     19  1.63  47.4
17    F     17  1.82  66.0
18    M     18  1.80  85.2
19    F     20  1.60  54.5
20    F     18  1.68  52.5

a)